@charset "UTF-8";
@font-face {
    font-family: 'bit';
    src: url(fonts/Daydream.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-family: 'bit';
    font-size: 3em;
}
p{
    font-family: 'bit';
    font-size: 1.5em;
}